:host {
  display: block;
}

.card {
  margin-top: 1rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.card__cover img {
  display: block;
  width: 100%;
}

.card__content {
  padding: 0 1rem 1rem;
}

.card__footer {
  padding: 0 1rem 1rem;
  border-top: 1px solid #ddd;
}
