/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
ol,
ul,
hr {
  margin: 1em 0 0;
}

.list-unstyled {
  padding: 0;
  list-style-type: none;
}

.list-inline li {
  display: inline-block;
  margin-right: 4px;
}
